* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 1440px;
  height: 6325px;

  background: #1a1a1a;
}

nav {
  position: absolute;
  width: 1308px;
  height: 28px;
  left: 68px;
  top: 48px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.nav_logo {
  width: 84px;
  height: 28px;
  left: 68px;
  top: 48px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

  color: #ffffff80;
}

.nav_logo span {
  background: linear-gradient(307.72deg, #a7f306 2.04%, #f3cd06 98.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.nav_link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;
  width: 695px;
  height: 20px;
  left: 375px;
  top: 54px;

  opacity: 0.5;
}

.nav_link a {
  width: 90px;
  height: 20px;

  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
}

.nav_reg {
  width: 148px;
  height: 24px;
  left: 1228px;
  top: 52px;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

main {
  position: absolute;
  top: 186px;
}

.robo-hand {
  position: relative;
}

.robo-hand_header {
  padding: 0;
  width: 1312px;
  position: absolute;
  height: 141px;
  left: 64px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 110px;

  text-align: center;
  letter-spacing: 1px;

  margin: 0;
  background: linear-gradient(
    90.01deg,
    #ffffff 0.01%,
    rgba(255, 255, 255, 0.3) 49.48%,
    #ffffff 99.99%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.robo-hand_header span {
  background: linear-gradient(307.72deg, #a7f306 2.04%, #f3cd06 98.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.robo-hand_image {
  position: absolute;
  width: 1190px;
  height: 794px;

  background: url("/assets/img/robot-hand-3d-background-presenting-technology-gesture-removebg-preview\ 1.png");
}

.robo-hand_lightning {
  position: absolute;
  width: 751px;
  height: 794px;
  left: 439px;

  background: url("/assets/img/robot-hand-3d-background-presenting-technology-gesture-removebg-preview\ 2.png");
}

.robo-hand_image-sphere {
  position: absolute;
  width: 459px;
  height: 459px;
  left: 446px;
  top: 34px;

  background: url("/assets/img/4.png");
}

.robo-hand_info-block .partners {
  box-sizing: border-box;
  position: absolute;
  width: 202px;
  height: 160px;
  left: 64px;
  top: 205px;

  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.2;
  border: 1.08px solid;
  border-radius: 32px;
  border-image-source: linear-gradient(
    270deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.robo-hand_info-block .partners-text {
  position: absolute;
  font-family: "Plus Jakarta Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  top: 235px;
  left: 96px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 1.5px;
  color: #ffffff;
}

.robo-hand_info-block .partners-text p {
  width: 91px;
  height: 36px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #ffffff;

  opacity: 0.5;
}

.robo-hand_info-block-percentage {
  box-sizing: border-box;
  position: absolute;
  width: 231px;
  height: 160px;
  left: 293px;
  top: 205px;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.2;
  border: 1.08px solid;
  border-radius: 32px;
  border-image-source: linear-gradient(
    270deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.percentage-text {
  position: absolute;
  font-family: "Plus Jakarta Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  top: 235px;
  width: 196px;
  left: 325px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  letter-spacing: 1.5px;
  color: #ffffff;
}

.percentage-text span {
  height: 36px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #ffffff;
  opacity: 0.5;
}
