* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  overflow: hidden;
}

.nav {
  margin: 48px;
  width: 1440px;
  height: 28px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.nav__wrapper {
  width: 1308px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 84px;
  height: 28px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff80;
}

.nav__logo span {
  background: linear-gradient(307.72deg, #a7f306 2.04%, #f3cd06 98.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.nav__links {
  width: 695px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;
  height: 20px;
  cursor: pointer;
  list-style-type: none;
}

.nav__links li {
  height: 20px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #8c8c8c;
}

.nav__links li:hover {
  transform: scale(1.1);
  color: #ffffff;
}

.nav__logo:hover {
  transform: scale(1.1);
}

.nav__reg:hover {
  transform: scale(1.1);
}

.nav__reg {
  cursor: pointer;
  width: 148px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.nav__reg .arrow {
  width: 23px;
  height: 23px;
  background-image: url("/assets/img/arrow-down-left.png");
}

main {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.robo-hand {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
}

.robo-hand__header {
  width: 1312px;
}

.robo-hand__header h1 {
  height: 141px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 120px;
  text-align: center;
  letter-spacing: 1px;
  background: linear-gradient(
    90.01deg,
    #ffffff 0.01%,
    rgba(255, 255, 255, 0.3) 49.48%,
    #ffffff 99.99%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.robo-hand__header span {
  background: linear-gradient(307.72deg, #a7f306 2.04%, #f3cd06 98.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.robo-hand__info-block {
  margin-top: 64px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1350px;
  margin-bottom: 258px;
}

.info-block__left-side {
  height: 160px;
  width: 460px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.partners__wrapper {
  height: 100%;
  width: 202px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.08px;
  border-radius: 32px;
  background: linear-gradient(to left, #484848, #1a1a1a);
}

.partners__content {
  padding-left: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #232323, #1a1a1a);
  border-radius: 32px;
}

.partners__text {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  font-family: "Plus Jakarta Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 1.5px;
  color: #ffffff;
}

.partners__text span {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  opacity: 0.5;
}

.percentage__wrapper {
  height: 100%;
  width: 231px;
  padding: 1.08px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: linear-gradient(to right, #484848, #1a1a1a);
}

.percentage__content {
  padding-left: 40px;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  background: linear-gradient(to right, #232323, #1a1a1a);
}

.percentage__text {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  justify-content: space-between;
  font-family: "Plus Jakarta Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background: none;
  color: #ffffff;
}

.percentage__text span {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  flex-wrap: nowrap;
  height: 36px;
  width: 231px;
  opacity: 0.5;
}

.right-side {
  height: 348px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.right_side__text-content {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  width: 373px;
  height: 120px;
  letter-spacing: -0.03em;
  color: #ffffff;
  opacity: 0.5;
}

.right_side__button-block {
  height: 180px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.started-button {
  position: relative;
  z-index: 1;
  cursor: pointer;
  width: 200px;
  height: 72px;
  background: #ffffff;
  border-radius: 120px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #1a1a1a;
}

.talk-block {
  position: relative;
  display: flex;
  justify-content: end;
}

.talk-button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 120px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  border: none;
  z-index: 4;
  background-color: #1a1a1a;
}

.talk-button__wrapper {
  width: 200px;
  height: 72px;
  border-radius: 120px;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #454545, #1b1b1b);
}

.robo-hand__image {
  top: 0;
  left: 0;
  position: absolute;
  height: 794px;
  background: transparent;
}

.image__hand {
  position: absolute;
  width: 1190px;
  height: 794px;
  background: url("/assets/img/robot-hand-3d-background-presenting-technology-gesture-removebg-preview\ 1.png");
  object-fit: cover;
}

.image__lightning {
  left: 439px;
  position: absolute;
  width: 751px;
  height: 794px;
  object-fit: cover;
  background: url("/assets/img/robot-hand-3d-background-presenting-technology-gesture-removebg-preview\ 2.png");
}

.image__sphere {
  position: absolute;
  width: 459px;
  height: 459px;
  left: 446px;
  top: 34px;
  object-fit: cover;
  background: url("/assets/img/4.png");
}

.vector {
  position: absolute;
  width: 2px;
  height: 378px;
  left: 1190px;
  top: 432px;
  background: url("/assets/img/Vector\ 1.png");
  object-fit: cover;
}

.running-line {
  height: 148px;
  overflow: hidden;
}

.running-line__content {
  height: 120px;
  background: linear-gradient(307.72deg, #a7f306 2.04%, #f3cd06 98.59%);
}

.content__wrapper {
  width: 200%;
  display: flex;
  animation: infinite-line 7s infinite linear;
  height: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.advertising {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.running-line__bottom {
  height: 28px;
  background: rgba(169, 169, 169, 0.2);
}

.advertising__text {
  margin-left: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25em;
  line-height: 200%;
  letter-spacing: 0.04em;
  background: linear-gradient(270deg, #1a1a1a 1.34%, #000000 110.19%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.advertising__img {
  width: 60px;
  height: 60px;
  background: url("/assets/img/Star\ 1.png") no-repeat;
  object-fit: fill;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

@keyframes infinite-line {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-33.3%);
  }
}

.technology {
  box-sizing: border-box;
  margin-top: 179px;
  width: 1312px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.technology__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 94px;
  letter-spacing: 1px;
  justify-content: space-between;
  color: #ffffff;
}

.technology__header .arrow {
  cursor: pointer;
  width: 125px;
  height: 125px;
  background: url("/assets/img/big_arrow.png");
}

.technology__header .arrow:hover {
  transform: scale(1.1);
}

.technology__list {
  margin-top: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.technology__list li {
  list-style-type: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 200%;
  text-align: center;
  color: #8c8c8c;
  flex-basis: 20%;
  height: 92px;

  border-bottom: solid;
  border-width: 4px;
}

.technology__list .active {
  color: #ffffff;
  border-image: linear-gradient(307.72deg, #a7f306 2.04%, #f3cd06 98.59%) 1;
}

.techology__block {
  margin-top: 82px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block__content {
  margin-top: 82px;
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block__content h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 1px;
  color: #ffffff;
}

.block__content h2 span {
  background: linear-gradient(307.72deg, #a7f306 2.04%, #f3cd06 98.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.block__content p {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: -0.03em;
  width: 586px;
  height: 120px;
  color: #8c8c8c;
}

.block__content ul {
  flex-direction: column;
  justify-content: space-between;
}

.block__content li {
  list-style: none;
  background: url("/assets/img/success.png") no-repeat 0 50%;
  padding-left: 48px;
  height: 40px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: #ffffff;
  text-align: start;
}

.learn-button {
  cursor: pointer;
  width: 249px;
  height: 72px;
  border-radius: 120px;
  border: 1px solid #484848;
  padding: 20px 32px;
  background: #1a1a1a;
}

.learn-button__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #ffffff;
}

.learn-button__content div {
  width: 32px;
  height: 32px;
  background: url("/assets/img/32px_arrow.png") no-repeat;
}

.development {
  margin: 161px auto 0;
  width: 1312px;
  display: flex;
  flex-direction: column;
}

.development__header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 1px;
  color: #ffffff;
}

.development__content {
  margin-top: 94px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list__item {
  display: flex;
  width: 508px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list__item .content {
  width: 316px;
  height: 136px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.list__item .content h4 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 200%;
  color: #ffffff;
}

.list__item .content div {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: -0.03em;
  color: #8c8c8c;
}

.arrow-column {
  list-style-type: none;
  border-left: 2px solid #313131;
  border-right: 2px solid #313131;
  width: 146px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider {
  box-sizing: border-box;
  width: 1312px;
  margin-top: 206px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__header {
  width: 1312px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider__header .content {
  height: 94px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 1px;
  color: #ffffff;
}

.slider__buttons {
  background: none;
  width: 240px;
  display: flex;
  flex-direction: row;
}

.slider__buttons .prev {
  cursor: pointer;
  border: none;
  width: 120px;
  height: 120px;
  background: url("/assets/img/Slider_prev.png");
}

.slider__buttons .next {
  cursor: pointer;
  width: 120px;
  height: 120px;
  background: url("/assets/img/Slider_next.png");
}

.slider__wrapper {
  margin: 80px auto 0;
  width: 100%;
}

.slider__items {
  display: flex;
  flex-direction: row;
}

.slider__item {
  display: flex;
  flex-direction: column;
  height: 532px;
  justify-content: space-between;
}

.slider__item div {
  width: 260px;
  height: 96px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 160%;
  text-align: start;
  color: #ffffff;
}

.quotation {
  box-sizing: border-box;
  margin-top: 200px;
  width: 1312px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quotation__header {
  display: flex;
  width: 650px;
  height: 94px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 1px;
  color: #ffffff;
}

.quotation__content {
  margin-top: 80px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 200%;
  width: 1200px;
  height: 288px;
  color: #8c8c8c;
}

.quotation__content span {
  color: white;
}

.quotation__slide {
  margin-top: 74px;
  width: 1182px;
  height: 143px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.author {
  width: 695px;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.author__colored-text {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 200%;
  background: linear-gradient(307.72deg, #a7f306 2.04%, #f3cd06 98.59%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: 272px;
  height: 64px;
}

.author__line {
  background: url("/assets/img/Vector\ 2.png");
  object-fit: cover;
  width: 64px;
  height: 2px;
}

.author__text {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
  width: 287px;
  height: 48px;
  letter-spacing: -0.03em;

  color: #ffffff;
}

.arrow__prev {
  width: 142px;
  height: 142px;
  background: url("/assets/img/Group\ 770590.png");
  object-fit: cover;
}

.arrow__prev:hover {
  background: url("/assets/img/quo-arr-left-active.png");
}

.arrow__next {
  width: 142px;
  height: 142px;
  background: url("/assets/img/quo-arr-right.png");
  object-fit: cover;
}
.arrow__next:hover {
  background: url("/assets/img/Group\ 770574.png");
}

.supported {
  box-sizing: border-box;
  margin-top: 209px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.supported__header {
  width: 630px;
  height: 94px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
}

.supported__lists {
  margin-top: 90px;
  width: 100%;
}

.up__list {
  width: 200%;
  display: flex;
  animation: infinite-left 5s infinite linear;
}

.up__list__wrapper {
  width: 100%;
  justify-content: space-around;
  display: flex;
}

.down__list {
  margin-top: 84px;
  width: 200%;
  display: flex;
  animation: infinite-right 5s infinite linear;
}
.down__list__wrapper {
  width: 100%;
  justify-content: space-around;
  display: flex;
}

@keyframes infinite-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes infinite-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.down {
  background: linear-gradient(to bottom, #484848, #1b1b1b);
}

.up {
  background: linear-gradient(to top, #484848, #1b1b1b);
}

.color-up {
  background: linear-gradient(to top, #232323, #1a1a1a);
}

.color-down {
  background: linear-gradient(to bottom, #232323, #1a1a1a);
}

.supported__item {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 1px;
  width: 240px;
  height: 100px;
  border-radius: 32px;
}

.item-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

footer {
  box-sizing: border-box;
  margin: 180px 0 84px;
  width: 1312px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left-block {
  height: 176px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-block__header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 84px;
  height: 28px;
  color: #8c8c8c;
}

.left-block__header span {
  background: linear-gradient(307.72deg, #a7f306 2.04%, #f3cd06 98.59%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.left-block__text {
  width: 329px;
  height: 120px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: -0.03em;
  color: #8c8c8c;
}

.right-block {
  height: 176px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 853px;
}

.right-block ul {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  list-style: none;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.right-block ul a {
  text-decoration: none;
  color: #ffffff;
}

.right-block__down-side {
  width: 100%;
  display: flex;
  flex: row;
  justify-content: space-between;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  letter-spacing: -0.03em;
  color: #a3a3a3;
}

.right-block__top-side div {
  margin-top: 52px;
  width: 853px;
  height: 3px;
  background: url("/assets/img/long__vector.png");
}

.docs {
  cursor: pointer;
  width: 375px;
  display: flex;
  flex: row;
  justify-content: space-between;
}
